@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_detai_box {
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    td{
      border: 1px solid #dddddd;
      padding: 8px;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }



  
}
