@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_detai_box {
  ul {
    li {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      list-style-type: disc;
    }
  }
}
.product_detai_color {
  @include flex;
  justify-content: flex-start;

  li {
    padding: 2px;
    border-radius: 100%;
    margin-right: 12px;
    cursor: pointer;
  }
  span {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid white;
  }
}

.activeColor {
  background: blue;
}
